body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 120;
    color: white;
    width: 100%
}

hr {
    border: none;
    border-top: 2px dotted white;
  }

.container {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

h1 {
    text-align: center;
    color: white;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

h2 {
    color: white;
    margin-top: 20px;
}

.form-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    min-width: 200px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

button {
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

button:hover {
    background-color: #0056b3;
}

.severity-result {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 0.8em;
}

.sev-result {
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    font-size: 1.4em;
}

.result-box {
    padding: 20px;
    margin-top: 20px;
    width: 50%;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.resu-box {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    position:relative;
    background-color: white;
    border-radius: 5px;
    width: 100;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em; 

}

.result-box.low {
    background-color: lightgreen;
}

.result-box.medium {
    background-color: yellow;
    color: black;
}

.result-box.high {
    background-color: red;
}

.result-box.critical {
    background-color: pink;
}

.result-box.note {
    background-color: lightgreen;
}

.hidden {
    display: none;
}

